# Python-related build and cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python version manager specific files
.python-version

# Virtual Environment directories
/.venv/
venv/

# Operating System and Editor Temporary/Config Files
.DS_Store
*.swp

# Jupyter Notebook and IPython files
.ipynb_checkpoints/

# IDE (Integrated Development Environment) Configuration Files
.vscode/
.vscode_backup/
.idea/

# Log files
*.log
*.csv
